.parcours-page {
    position: fixed;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed; /* Garde l'image de fond fixe */
    background-position: center;
    background-color: rgba(255, 228, 196, 0.332);
}


.horizontal-scroll-container {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory; /* Active le snap automatique */
    width: 100vw;
    height: 100%; /* Prend toute la hauteur de l'écran */
}

.scroll-slide {
    flex: 0 0 100%; /* Chaque slide prend 100% de la largeur de l'écran */
    scroll-snap-align: start; /* Aligne chaque slide au début */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.scroll-content {
    padding: 20px;
    border-radius: 15px;
}

.parcours-container {
    display: flex;
    width: 100%;   
}

.parcours-content {
    display: flex;
    gap: 20px;
    align-items: center;
}

.parcours-images {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-right: 200px;
    margin-left: 200px;
}

.parcours-image {
    width: 400px; /* Ajustez la largeur selon vos besoins */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.parcours-section {
    border-bottom:1px solid #68352d ;
    margin-right: 100px;
    margin-bottom: 20px;
}

.parcours-text {
    padding-top: 30px;
    max-height: 80vh;
    overflow: hidden;
    overflow-y: scroll;
    width: 100%;
}

.parcours-text h2 {
    font-size: 2.5rem;
    color: #333;
}

.parcours-text h3 {
    font-size: 1.75rem;
    color: #555;
    font-family: "Homemade Apple", cursive;
}

.parcours-text p, .parcours-text li {
    font-size: 1.1rem;
    color: #666;
    line-height: 1.6;
    list-style: none;
}

.etude-sup {
    position: relative;
    display: flex;
    flex-direction: row;
}

.etude-sup img {
    position: absolute;
    width: 120px;
    right: 5%;
    top: 0;
}
.skills-list {
    margin: 0;
    padding: 0;
}


@media (max-width: 1450px) {
    .parcours-image {
        width: 350px; /* Ajustez la largeur selon vos besoins */
    }
    .parcours-section h3 {
        font-size: 1.25em;
    }
    .etude-sup img {
        width: 100px;
    }
}
@media (max-width: 1250px) {
    .parcours-image {
        width: 300px; /* Ajustez la largeur selon vos besoins */
    }
    .etude-sup img {
        width: 80px;
    }
    .parcours-section h3 {
        font-size: 1.0em;
    }
    .parcours-text p, .parcours-text li {
        font-size: 0.8rem;
    }
    .parcours-images {
        margin-right: 150px;
        margin-left: 150px;
    }
}

@media (max-width: 1050px) {
    .parcours-images {
        margin-right: 100px;
        margin-left: 100px;
    }
}

@media (max-width: 930px) {
    .parcours-image {
        width: 250px; /* Ajustez la largeur selon vos besoins */
    }
    .parcours-section h3 {
        font-size: 0.75em;
    }
    .parcours-text p, .parcours-text li {
        font-size: 0.6rem;
    }
    .parcours-images {
        margin-right: 50px;
        margin-left: 50px;
    }
    .etude-sup img {
        top: -20% !important;
        width: 80px;
    }
}

@media (max-width: 750px) {
    .parcours-image {
        width: 200px; /* Ajustez la largeur selon vos besoins */
    }
    .etude-sup img {
        width: 50px;
        top: 0 !important;
    }
    .parcours-section {
        margin-right: 50px !important;
    }
}
@media (max-width: 650px) {
    .parcours-images {
        margin-right: 20px;
        margin-left: 20px;
    }
    .parcours-image {
        width: 150px; /* Ajustez la largeur selon vos besoins */
    }
}

@media (max-width: 550px) {

    .etude-sup img {
        top: -10% !important;
    }
}
@media (max-width: 500px) {
        .etude-sup img {
            width: 40px;
        }
        .parcours-images {
            margin-right: 10px;
            margin-left: 10px;
        }
        .parcours-image {
            width: 100px; /* Ajustez la largeur selon vos besoins */
        }
        .parcours-content {
            display: flex;
            flex-direction: column;
        }
        .parcours-images {
            display: flex;
            flex-direction: row;
        }
}
