/* Global */
body {
    background-color: black;
    color: white !important;
    font-family: 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    font-family: "Courier New", serif;
  }
  
  /* Container */   
  .container {
    width: 80%;
    margin: auto;
    text-align: center;
  }
  
  /* Header */
  .header {
    padding: 50px 0;
  }
  
  .brand-name {
    font-size: 5rem;
    font-weight: bold;
    letter-spacing: 3px;
    font-family: "Hurricane", serif;
    text-align: right;
  }
  
  .header-content {
    display: flex;
    align-items: center;
    gap: 20px;
  }


.candle-image-container {
    position: relative;
    width: 80%;
    padding-right: 10em;
}
  
  .candle-img,
  .workshop-img {
    width: 230px;
    height: 280px;
  }

  .candle-img {
    height: 500px;
    width: 350px;
  }

  .workshop-img {
    position: absolute;
    right: 20%;
    bottom: 5%;
    border: 1px solid #fff;
  }
  
  
  .text-content {
    max-width: 500px;
    text-align: left;
  }
  
  .discover-button {
    background: none;
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 15px;
    border-radius: 50%;
    padding: 2.5em;
  }
  
  /* Product Section */
  .product-section {
    text-align: center;
    margin-top: 50px;
  }
  
  .product-title {
    font-size: 5rem;
    text-align: left;
    font-family: "Hurricane";
  }


  .product-candle-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10%;
  }
  .product-candle-text-container {
    width: 40%;
    text-align: left;
  }
  
  .candle-description {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .candle-text {
    max-width: 600px;
    margin: auto;
    font-size: 1rem;
    line-height: 1.6;
    color: #DDD;
  }
  
  .product-img {
    width: 600px;
    height: auto;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
  }
  